<link rel="import" href="packages/core_elements/core_animated_pages.html">
<link rel="import" href="packages/core_elements/core_media_query.html">

<link rel="import" href="dgs-categories.html">
<link rel="import" href="dgs-load-template.html">
<link rel="import" href="dgs-new-project.html">
<link rel="import" href="dgs-open.html">

<polymer-element name="dgs-app" attributes="templateUrl" vertical layout>
  <template>
    <link rel="stylesheet" href="dgs-app.css">
    <dgs-load-template url="{{templateUrl}}" response="{{response}}" on-dgs-response="{{templateReady}}"></dgs-load-template>
    <core-animated-pages selected="{{selected}}" transitions="cross-fade-delayed cross-fade slide-up-offscreen" flex>
      <div name="splash">
        <div fit class="splash{{wide?' wide':''}}" cross-fade>
          <h1>DGS Tab</h1>
          <p>Loading...</p>
        </div>
      </div>
      <dgs-open id="open" name="open" repository="{{repository}}" wide="{{wide}}"></dgs-open>
      <dgs-new-project id="new-project" name="new-project" repository="{{repository}}" project="{{project}}" wide="{{wide}}"></dgs-new-project>
      <dgs-categories id="categories" name="categories" project="{{project}}" wide="{{wide}}"></dgs-new-project>  
    </core-animated-pages>
    <core-media-query query="min-width: {{responsiveWidth}}" queryMatches="{{wide}}"></core-media-query>
  </template>
  <script type="application/dart" src="dgs-app.dart"></script>
</polymer-element>
