@import url('dgs-fonts.css');

:host {
  overflow: hidden;
}

.splash {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.splash.wide {
  background-size: 512px;
}