<link rel="import" href="packages/core_elements/core_toolbar.html">
<link rel="import" href="packages/core_elements/core_selector.html">
<link rel="import" href="packages/core_elements/core_icon.html">
<link rel="import" href="packages/core_elements/core_icon_button.html">

<polymer-element name="dgs-categories" attributes="project templates template wide" vertical layout>
  <template>
    <link rel="stylesheet" href="dgs-categories.css">
    <core-toolbar class="category-toolbar" slide-down?="{{parentNode.selected != 'category' && parentNode.lastSelected !== 'category'}}">
      <core-icon-button icon="menu" on-tap="{{menuAction}}"></core-icon-button>
      <div flex class="user-name">{{navigation}}</div>
    </core-toolbar>
  </template>
  <script type="application/dart" src="dgs-categories.dart"></script>
</polymer-element>
