<link rel="import" href="packages/paper_elements/paper_fab.html">
<link rel="import" href="packages/paper_elements/paper_button.html">
<link rel="import" href="packages/paper_elements/paper_input.html">
<link rel="import" href="packages/core_elements/core_icons.html">

<polymer-element name="dgs-open" attributes="repository wide" vertical layout center>
  <template>
    <link rel="stylesheet" href="dgs-open.css">
    <div class="bg" fit dummy cross-fade></div>
    
    <div class="main" flex layout vertical
         cross-fade-delayed?='{{parentNode.selected == 'splash'}}'>
      <div class="card{{wide?' wide':''}}" flex layout vertical
             cross-fade-delayed?='{{parentNode.selected != 'open'}}'
             slide-up-offscreen?='{{parentNode.selected == 'open'}}'>
        <div layout vertical flex 
             cross-fade-delayed?="{{parentNode.lastSelected != 'splash' && wide}}">
          <div class="indent" layout vertical>
            <div class="header">Select Project</div>
            <template id="allProjects" repeat="{{key in repository.keys}}">
              <paper-button id="open-project-{{key}}" label="{{repository[key].name}}" 
                 raisedButton on-tap="{{handleSelect}}">
              </paper-button>
            </template>
            <paper-button id="new-project"  on-tap="{{createNew}}"
                label="Create a new project" raisedButton icon="add">
            </paper-button>
          </div>
        </div>
      </div>
    </div>
  
  </template>
  <script type="application/dart" src="dgs-open.dart"></script>
</polymer-element>
