<link rel="import" href="packages/paper_elements/paper_fab.html">
<link rel="import" href="packages/paper_elements/paper_button.html">
<link rel="import" href="packages/paper_elements/paper_input.html">
<link rel="import" href="packages/core_elements/core_icons.html">

<polymer-element name="dgs-new-project" attributes="project wide" vertical layout center>
  <template>
    <link rel="stylesheet" href="dgs-new-project.css">
    <div class="bg" fit dummy cross-fade></div>
    
    <div class="main" flex layout vertical
         cross-fade-delayed?='{{parentNode.selected == 'splash'}}'>
      <div class="card{{wide?' wide':''}}" flex layout vertical
             cross-fade-delayed?='{{parentNode.selected != 'profile'}}'
             slide-up-offscreen?='{{parentNode.selected == 'profile'}}'>
        <div layout vertical flex 
             cross-fade-delayed?="{{parentNode.lastSelected != 'splash' && wide}}"
             on-keypress="{{ keypressAction }}">
          <div class="indent" layout vertical>
            <div class="header">New Project</div>
            <paper-input label="Project Name" id="name" required 
                error="Please enter a project name"></paper-input>
            <paper-input label="RESD Project #" id="resdNumber"></paper-input>
          </div>
          <div flex></div>
          <div layout horizontal>
            <div flex></div>
            <paper-fab id="check" icon="check" on-tap="{{handleLogin}}"
                       showing="{{ fabIsShowing }}"></paper-fab>
          </div>
        </div>
      </div>
    </div>
  
  </template>
  <script type="application/dart" src="dgs-new-project.dart"></script>
</polymer-element>
