<link rel="import" href="packages/paper_elements/paper_fab.html">
<link rel="import" href="packages/paper_elements/paper_button.html">
<link rel="import" href="packages/paper_elements/paper_input.html">
<link rel="import" href="packages/core_elements/core_icons.html">

<polymer-element name="dgs-new-project" attributes="repository project wide" vertical layout center>
  <template bind>
    <link rel="stylesheet" href="dgs-new-project.css">
    <div class="bg" fit dummy cross-fade></div>
    
    <div class="main{{wide?' wide':''}}" flex layout vertical
         cross-fade-delayed?='{{parentNode.selected == 'splash'}}'>
      <div class="card{{wide?' wide':''}}" layout vertical
             cross-fade-delayed?="{{parentNode.selected != 'new-project'}}"
             slide-up-offscreen?="{{parentNode.selected == 'new-project'}}">
        <div layout vertical
             cross-fade-delayed?="{{parentNode.lastSelected != 'splash' && wide}}"
             on-keypress="{{ keypressAction }}">
          <div class="indent" layout vertical>
            <div class="header">
              <template if="{{isNew}}" bind>
                New Project
              </template>
              <span delayshow?="{{isNew}}">
                <template if="{{!isNew}}" bind>
                  Edit Project Info
                </template>
              </span>
            </div>
            <paper-input label="Project Name" id="name" required 
                error="Please enter a project name" value="{{project.name}}"></paper-input>
            <paper-input label="RESD Project #" id="resdNumber" value="{{project.resdNumber}}"></paper-input>
            <paper-input label="Job #" id="jobNumber" value="{{project.jobNumber}}"></paper-input>
            <paper-input label="Surveyor's Name" id="surveyorName" value="{{project.surveyorName}}">
            </paper-input>
            <paper-input maxlength="3" label="Initials" id="initials"  value="{{project.initials}}">
            </paper-input>
          </div>
          <div layout horizontal>
            <div flex></div>
            <paper-fab id="check" icon="check" on-tap="{{handleSave}}"
                       showing="{{project.name != '' && project.name != null}}"></paper-fab>
          </div>
        </div>
      </div>
    </div>
  
  </template>
  <script type="application/dart" src="dgs-new-project.dart"></script>
</polymer-element>
