<link rel="import" href="packages/core_elements/core_icon.html">
<link rel="import" href="packages/core_elements/core_toolbar.html">
<polymer-element name="dgs-categories" attributes="project categories category wide" vertical layout>
  <link rel="stylesheet" href="dgs-categories.css">
  <link rel="stylesheet" href="dgs-category-themes.css">
  <template>  
    <core-toolbar class="category-toolbar" slide-down?="{{parentElement.selected !== 'category' && parentElement.lastSelected !== 'category'}}">
      <core-icon icon="avatars:avatar-{{project.avatar}}" class="topeka-avatar"></core-icon>
      <div flex class="user-name">{{project.name}}</div>
    </core-toolbar>
  </template>
  <script type="application/dart" src="dgs-categories.dart"></script>
</polymer-element>

